{% extends 'index.html' %}

{% block body %}
<br>
<br>
<div style="width: 80%; max-width: 1200px; margin: 20px auto; padding: 20px; background-color: #f8f4f4; box-sizing: border-box; border: 1px solid #ccc; border-radius: 5px; height: 400px; overflow: auto;">
    <h3 style="text-align: center;">About Us</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat est non ipsum eleifend, vel hendrerit nulla tincidunt. Nam nec lorem ex. Proin scelerisque sit amet ex sed elementum. Duis lacinia tellus at purus convallis, in cursus lectus tincidunt. Cras nec dui volutpat, posuere sem id, consequat lorem. Aenean id est a eros bibendum rutrum. Vivamus eleifend, elit at mattis dictum, tortor risus ultricies est, a tempor nulla nisi vel magna. Maecenas quis justo et purus condimentum molestie. Proin vel arcu et orci condimentum volutpat. Morbi lobortis nunc non efficitur pharetra. Curabitur sit amet nulla sem. Vestibulum in lorem nec metus elementum ultricies. Ut malesuada, urna nec accumsan varius, mauris ex rutrum lectus, eget efficitur felis erat vel nisi.</p>
    <p>Vivamus blandit, arcu ac pretium ultricies, libero erat feugiat nulla, nec blandit dui orci ac urna. Duis ac efficitur lorem. Vestibulum tempus massa a libero gravida dignissim. Morbi tincidunt velit eu efficitur elementum. Integer iaculis nunc vel dapibus auctor. Phasellus congue risus vel eros pharetra, quis cursus odio lacinia. Aliquam pharetra sit amet sapien vel vehicula. Duis et ipsum id felis dictum aliquet. Curabitur tincidunt est vel orci consectetur dignissim. Duis sit amet lacus nunc.</p>
</div>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
